* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'playfair_displayregular';*/
    font-family: 'dm_serif_displayregular';
    /*font-family: 'oswaldregular';*/
    font-weight: bold;
}

@font-face {
    font-family: 'playfair_displayregular';
    src: url('webfonts/playfairdisplay-variablefont_wght-webfont.woff2') format('woff2'),
         url('webfonts/playfairdisplay-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dm_serif_displayregular';
    src: url('webfonts/dmserifdisplay-regular-webfont.woff2') format('woff2'),
         url('webfonts/dmserifdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oswaldregular';
    src: url('webfonts/oswald-variablefont_wght-webfont.woff2') format('woff2'),
         url('webfonts/oswald-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

p {
    font-size: 26px;
    margin-right: 50px;
    margin-left: 50px;   
}

label,
input {
    display: block;
    font-size: 18px;
}

.flex-container {
    display: flex;
}

img {
    height: 100vh;
}

.img-credit {
    position: absolute;
    bottom: 8px;
    left: 110px;
    color: whitesmoke;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*border: 1px solid lightgrey;*/
    background-color: gainsboro;
}

p {
    /*border: 1px solid lightgrey;*/
}

.right-top {
}

.first-line {
    margin-bottom: 30px;
    margin-right: 125px;
}

.middle-row {
    display: flex;
    flex-direction: column;
    background-color: white;
    /*justify-content: space-around;*/
    box-shadow: 5px 5px 5px darkgrey;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.name-row,
.form-row,
.password-row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.columns-row {
    display: flex;
    margin-top: 10px;
}

.first-column {
    display: flex;
    flex-direction: column;
    /*border: 1px solid darkgrey;*/
    margin-left: 50px;
    
}

.second-column {
    display: flex;
    flex-direction: column;
    /*border: 1px solid darkgrey;*/
    margin-left: 50px;
}

.submit-row {
    /*border: 1px solid darkgrey;*/
    margin-top: 30px;
    margin-left: 50px;
}

button {
    background-color: darkolivegreen;
    font-size: 16px;
    font-weight: bold;

    color: whitesmoke;

    border: none;
    border-radius: 3px;
    box-shadow: 2.5px 2.5px 5px grey;

    padding: 10px 50px;
    cursor: pointer;
}

.login-row p {
    font-size: 18px;
    margin-top: 10px;
}

.img-credit a {
    color: whitesmoke;
}

.login-row a {
    color: darkolivegreen;
}